.header-container{
 display: flex;
 justify-content: space-between;
 border:1px solid black;
}
.logo {
  width: 200px;
  height: auto;
  display: block;
}
.nav-items > ul{
font-size: 24px;
display: flex;
list-style-type: none;
}
.nav-items > ul>li{
padding: 20px;
margin: 10px;
}
.search{
  padding-top: 30px;
  padding-bottom: 30px;
}
.res-card{
  height: 300px;
  width: 250px;
  border: 1px solid black;
  margin: 20px;
}
.res-list{
  display: flex;
}
.img{
  width: 100%;
  height: 100px;
}

